services:
  backend:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./src/uploads:/app/src/uploads

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend
